.App {
  text-align: center;
}
.form {
  text-align: left;
  font-size: calc(1px + 2vmin);
  margin-left: 30px;
  border-style: dotted;
  border-color: rgb(148, 148, 156);
  border-width: 2px;


}
.img{
  text-align: right;
  padding: 0.px 20px;

  border-radius: 8px;
  
  


}

.button {
  background-color: #182b94;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo { 
    height: 10vmin;
    min-height: 5vh;
    align-items: left;

    
  }
}

.App-header {
  background-color: #eff0f3;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #031114;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
